{% extends '::base.html.twig' %}


{% block title %}
    File Upload - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {%include "CRMToolsBundle:Default:index.html.twig"%}
     {% else %}
        <div class="container">
            <div class="row">
                <div class="account-wall">
                    <img class="profile-img" src="{{ asset('bundles/crmtools/img/Logo_PVCP.png') }}" alt="Logo PVCP" />
                    <form action="" method="post"class="form-signin">
                        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                        <input type="text" id="username" name="_username"  required="required" class="form-control" placeholder="Username">
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">
                        <button type="submit" id="_submit" name="_submit"  class="btn btn-lg btn-primary btn-block buttonSignIn" >Sign in</button>
                        {#<label class="checkbox pull-left pull-right need-help">#}
                        {#<input type="checkbox"id="remember_me" name="_remember_me" value="on">Remember me#}
                        {#</label>#}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
