{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    File Upload - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerPage">
        <h1 class="titlePage">File Upload</h1>
        <!-- Begin of Upload form -->
        <div class="bootstrap-iso">
                    <div class="col-md-12">
                        <form>
                            <div class="col-md-3" class="form-group">
                                {#<label for="exampleInputFile">File input</label>#}
                                <input  type="file"  id="exampleInputFile">
                            </div>
                            <button type="submit" class="btn btn-default btn-xs">Upload</button>
                        </form>

                    </div>
        </div><!-- end of Upload form -->
    </div>

{% endblock %}