<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRM Tools{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/crmtools/img/favicon.png') }}" />
        {% stylesheets filter='?yui_css, cssrewrite'
            '@CRMToolsBundle/Resources/public/css/style.css'
            '@CRMToolsBundle/Resources/public/css/monitoring.css'
            '@CRMToolsBundle/Resources/public/css/menu_nav_bar.css'
            '@CRMToolsBundle/Resources/public/css/data_quality.css'
            '@CRMToolsBundle/Resources/public/css/file_integration.css'
            '@CRMToolsBundle/Resources/public/css/crm_weather.css'
            '@CRMToolsBundle/Resources/public/css/ucr_search_engine.css'
            '@CRMToolsBundle/Resources/public/css/sign_in.css'
            'css/bootstrap.css'
            'css/bootstrap.min.css'
            'css/bootstrap-theme.css'
            'css/bootstrap-theme.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endstylesheets %}
    </head>
    <body>
        {% block body %}
        {% endblock %}


        {% javascripts
        'js/jquery.js'
        'js/bootstrap.js'
        'js/bootstrap.min.js'
        '@CRMToolsBundle/Resources/public/js/main.js'

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

        {% endjavascripts %}
    </body>
</html>
<!-- Bootstrap Date-Picker Plugin -->
