
/*********************************************CSS COMON FROM ALL PAGES****************************************************/

.containerPage{
    width: 100% !important;
    margin: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.titlePage{
    text-align: center;
    font-weight: bolder;
    /*border: 1px solid red;*/
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #37519f;
}

.cssFromTable{
    margin-top: 20px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

.cssFromTable th{
    background: #0073e6;
    color: #fff;
}

.greenBackground th{
    background: #5bb024;
}

.blueHoverLine tr:hover{
    background-color: #E0E0E0 !important;
    /*color: #fff;*/
}

/*********************************************CSS FROM HOME PAGE****************************************************/
body {
    width: 90%;
    display: block;
    margin: auto !important;
    font-family: "Terminal Dosis",Arial,Helvetica,sans-serif !important;
}

.containerHomePage{
    width: 75%;
    margin: auto !important;
}

.logoPvCp{
   float: left;
    margin: 30px 0px;
}

.titleHomePage{
    text-align: center;
    font-weight: bolder;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 45px;
    color: #37519f;
}

.colonneTheme{
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-size: 12.5px;
}
.colonneTheme .linkColonne{
    border: 1px solid #B8B8B8;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 294px;
    background: #fff;
    /*box-shadow: 3px 3px 5px #ddd !important;*/
}

.colonneTheme .linkLine{
    text-align: center;
    font-size: 13px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: bold;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.bkColorBlue{
    background: #0086b3 !important;
    color: #fff !important;
    text-shadow: none;
}

.UserNavBar{
    margin: 30px 20px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #37519f;
}

.logoutCss{
    text-decoration: underline;
}

.logoutCss a:hover{
    color: #002266;
}

.glyphiconNavCss{
    margin-right: 5px;
}

.paraphDescript{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #555;
    margin-bottom: 40px !important;
}

.iconeInfos{
    color: #37519f;
    /*border: 1px solid red;*/
    text-align: center;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.infosCircle{
    /*border: 1px solid blue;*/
}

.iconeInfos:hover a{
    text-decoration: none;
    color: #002266;
}

/*.infosCircle:hover{*/
    /*text-decoration: none;*/
    /*color: red;*/
/*}*/

/*.colonneMenu{*/
/*box-shadow: 3px 3px 5px #888888;*/
/*!*border: 1px solid red;*!*/
/*padding-right: 0px !important;*/
/*padding-left: 0px !important;*/
/*margin-right: 15px;*/
/*}*/

/*.menuHomePage .headMenu p{*/
/*text-align: center;*/
/*font-weight: bold;*/
/*margin-top: 10px;*/
/*font-size: 15px;*/
/*color: #fff;*/
/*}*/

/*.menuHomePage .bodyMenu{*/
/*background-color: #E8E8E8;*/
/*border: 1.5px solid #37519f;*/
/*height: 370px;*/
/*}*/

/*.menuHomePage .bodyMenu ul li, .menuHomePage .bodyMenu ul li a{*/
/*color: #37519f;*/
/*margin: 20px 0px;*/
/*font-size: 18px;*/
/*margin-right: 3px !important;*/
/*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/
/*margin-right: 2px;*/
/*!*border: 1px solid red;*!*/
/*}*/

/*.menuHomePage .bodyMenu ul li a:hover, .menuHomePage .bodyMenu ul li a:focus{*/
/*color: #0099FF;*/
/*}*/


/***********************************************END HOME PAGE*****************************************************/

