/******************************** COMMON CSS FROM ALL PAGES TOOL BOX ********************************/

.creationTitle{
    color: #37519f;
    font-weight: bold;
    margin-bottom: 20px;
}

.formCreatingQuery{
    width: 100%;
    display: block !important;
    margin: auto !important;
    margin-top: 0px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
}

.withoutPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.creatingForm{
    margin-top: 10px;
}

.buttonCreate{
    display: block !important;
    margin: auto !important;
    margin-top: 10px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    background: #37519f !important;
}

.marginWidgetLeft{
    margin-left: -30px;
}

.errorQueryMsg{
    padding-left: 0px !important;
    color: #F00000;
}

.successQueryMsg{
    padding-left: 0px !important;
    color: #5bb024;
}

.radioButtonCss >label{
    margin-right: 10px;
}

.searchButon{
    font-size: 16px !important;
    font-weight: bold !important;
    background: #37519f !important;
}

.searchBarModif{
    margin-top: 20px;
}

.searchResultForm{
    margin-top: 90px;
}

.textDelete{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif !important;
}

.queryNameSupp{
    color: #37519f;
    text-decoration: underline;
}

.modalButton{
    padding: 5px 15px !important;
}

.marginRightModal{
    margin-right: 230px;
}


/*********************************************** MODAL FROM SUPPRESSION QUERY *****************************************************/
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.successTextModal{
    text-align: center;
    color: #5bb024;
    margin: 15px !important;
}
