/******************************** COMMON CSS FROM ALL PAGES TOOL BOX ********************************/

.creationTitle{
    color: #37519f;
    font-weight: bold;
    margin-bottom: 20px;
}

.formCreatingQuery{
    width: 100%;
    display: block !important;
    margin: auto !important;
    margin-top: 0px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
}

.withoutPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.creatingForm{
    margin-top: 10px;
}

.buttonCreate{
    display: block !important;
    margin: auto !important;
    margin-top: 10px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    background: #37519f !important;
}

.marginWidgetLeft{
    margin-left: -30px;
}

.errorQueryMsg{
    padding-left: 0px !important;
    color: #F00000;
}

.successQueryMsg{
    padding-left: 0px !important;
    color: #5bb024;
}

.radioButtonCss >label{
    margin-right: 10px;
}
