.formContactBooking{
    /*border: 1px solid red;*/
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 17px;
}

.searchBy{
    padding: 0px !important;
}

.selectOptionForm{
     height: 30px !important;
}

.globalTableCss{
    padding-right: 0px;
    padding-left: 0px;
}

.tableSearchCss{
    padding: 2px;
    border: 2px solid #ddd !important;
    margin-bottom: 0px;
}

.tableSearchCss th, td{
    border: 1.3px solid #B8B8B8;
}

.logErrorsTab li{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: bold;
    /*font-size: 17px;*/
    /*border: 1px solid red;*/
}

.logErrorsTab > li > a{
    background: #5bb024;
    color: #fff;
}

.logErrorsTab > li > a:hover{
    color: #37519f;
}